<div class="span-6 last">
  <%= f.error_messages %>
  <%= f.labelled_text_field :title %>

  <%= f.label :category %>
  <%= tree_select(ArticleCategory.all( :conditions => "parent_id = 0"), 'article', 'article_category_id', @article, false) %>
  <hr/>

  <%= f.text_area :body, :class => 'ckeditor' %>
  
  <%= f.label :files %></br>

  <%= f.fields_for :assets do |asset_fields| %>
    <% if asset_fields.object.new_record? %>
      <p>
	<%= asset_fields.file_field :asset %></br>
      </p>
    <% end %>
  <% end %>




  <%= f.label :uploaded %></br>

  <%= f.fields_for :assets do |asset_fields| %>

  <% unless asset_fields.object.new_record? %>
<p>

  Delete:
     <%= asset_fields.check_box :_destroy %>

    <%= link_to(asset_fields.object.asset_file_name,
	asset_fields.object.asset.url(:original)) %>
  <% end %>
  <% end %>
</p>
</br>
  <%= f.labelled_text_field :position %>
  <%= f.labelled_check_box :display %>
</div>

<div class="span-6 last">
  <%= f.submit action_button %>
</div>

<hr/>
