
<% @page_title = "Article #{@article.title}" %>
<%= link_to "Back to Articles", articles_url %>
</br></br>
<div class="title"><%= link_to @article.title.html_safe, @article %></div>

<div class="content"><%= @article.body.html_safe %></div>

<% unless @article.assets.empty? %>
<h3>Attached Files</h3>
<% @article.assets.each do |asset| %>
<p>
  <h5><%= link_to(asset.asset_file_name, asset.asset.url(:original))%></h5>
</p>   
<% end %>
<% end %>


<div class="content-item">
  Tags:
  <% @article.tags.each do |t| %>
  
  <span class="tag">
    <%= link_to t.name, tag_path(t.name) %>    
  </span>

  <% end %>
</div>


<div class="timestamp">
  <ul>
    <li>Created: <%= @article.created_at.to_formatted_s(:short) %></li>
    <li>Modified: <%= @article.updated_at.to_formatted_s(:short) %></li>
</div>
