<% @page_title = "Schedule: #{@year}" %>

<div class="content-item">
  <%= render "years" %>
</div>
<div class="content-item">
  <%= render "months" %>
</div>
<div class="content-item">
  <%= render "disciplines", :locals => { :year => @year} %>
</div>



<% if Time.zone.today < Date.new(@year, 2) %>
   <div>
     Tentative. Dates are subject to change.
   </div>
   <% end %>
   

   <p class="centered">
     <%= link_to "Schedule in list format", {:action => 'list'} %>
with race organizer contact information
</p>

<% if RacingAssociation.current.competitions.include?(:atra_points_series) -%>
<p class="centered"><%= image_tag "icons/red_star.gif", :style => "margin: 0px; padding-top: 2px;" %>&nbsp;ATRA National Championship Series (NCS)</p>
<%- end %>


<%= render :partial => "shared/race_calendar", :locals => { :edit_schedule => false } %>

<h3>Download as:</h3>
<%= link_to "Excel", :format => :xls %> |
<%= link_to "iCal", schedule_url(:format => :ics, :protocol => "webcal") %>

<% content_for :head do -%>
<%= auto_discovery_link_tag :atom, :format => :atom %>
<%= auto_discovery_link_tag :ics, :format => :ics, :protocol => "webcal" %>
<% end %>
