<% @page_title = "Schedule: #{@year}" %>


<div class="content-item">
  <%= render "years" %>
</div>

<div class="content-item">
  <%= render "disciplines", :locals => { :year => @year } %>
</div>


<p class="centered">
  <%= link_to 'Schedule in calendar format', {:action => 'index'} %>
</p>



<% if Time.zone.today < Date.new(@year, 2) %>
   <div>
     Tentative. Dates are subject to change.
   </div>
   <% end %>

   <%= table :class => "data-list", :caption => @year do %>

<tr class="head">
  <th>Date</th>
  <th>Event</th>
  <th>Discipline</th>
  <th>Location</th>
  <th>Sponsoring Team</th>
  <!--th>Tweet</th-->
  <th>Flyer</th>
  <th>Reg.</th> 
  <th>Results</th>
</tr>

<%- @schedule.months.each do |month| -%>
<%- month.weeks.each do |week| -%>
<%- week.days.each do |day| -%>
<%- day.events.each do |event| -%>

<tr class="<%= cycle("even", "odd") %>">
  <td>
    <%= event.date.strftime("%a %m/%d") if event.date -%>
  </td>


  <td>
    <%- if event.cancelled %>
    <span class="cancelled"><%= link_to event.full_name, event.website -%></span> <i>cancelled</i>
    <%- elsif event.postponed? %>
    <span class="postponed"><%= link_to event.full_name, event.website -%></span> <i>postponed</i>
    <%- else -%>
    <%= link_to event.full_name.html_safe, event.website %>
    <%- end -%>
  </td>

  <td><%= event.short_disc(event.discipline) -%></td>

  <td><%= event.city %></td>

  <td>
    <% if event.team_id %>
    <%= link_to event.team_name, team_path(event.team_id) %>
    <% end %>
  </td>

  <!--td>
    <% if event.twitter_tag.blank? %>
    <%= link_to image_tag("icons/tweetbutton.png"), "http://twitter.com/intent/tweet?url=http://www.gacycling.org#{event_path(event)}&hashtags=gbra&via=gacycling", :target => "blank" %>
    <% else %>
    <%= link_to image_tag("icons/tweetbutton.png"), "http://twitter.com/intent/tweet?url=http://www.gacycling.org#{event_path(event)}&hashtags=#{event.twitter_tag}&via=gacycling", :target => "blank" %>
    <% end %>
  </td-->


  <td>
    <%- if event.flyer.present? && event.flyer_approved? -%>
    <%= link_to image_tag("icons/pdf-icon.png"), event.flyer %>
    <%- end -%>
  </td> 

  <td>
    <% if event.registration_link? %>
    <%= link_to image_tag("icons/registration-icon.png"), event.registration_link %>
    <% end %>
  </td>
  
  
  <td>
    <% if event.has_results? %>
    <%= link_to image_tag("icons/results-icon_thumb.png"), event_results_path(event) %>
    <% end %>
  </td>

</tr>

<%- end -%>
<%- end -%>
<%- end -%>
<%- end -%>
<%- end -%>
