
<%- @schedule.months.each do |month| -%>

<div class="content-item">
  <%= table :class => "calendar", :caption => "<a name='#{month.name}'>#{month.name} #{@year}</a>".html_safe do %>
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <%- month.weeks.each do |week| -%>
  <tr class="month">
    <%- week.days.each do |day| -%>
    <%- if day.other_month? -%>
    <td class="day_from_other_month"><div class="number"><%= day.day_of_month -%></div>
      <%- else -%>
    <td class="day">
      <div class="number"><%= day.day_of_month -%></div>
      <%- day.events.each do |event| -%>
      <% if (administrator? and edit_schedule)%>
      <div class="event"><%= link_to event.full_name, edit_admin_event_path(event) %></div>
      <% else %>
      

      <div class="event">

        <%- if event.cancelled %>
        <span class="cancelled"><%= event.full_name -%></span> <i>cancelled</i>
        <%- elsif event.postponed? %>
        <span class="postponed"><%= event.full_name -%></span> <i>postponed</i>
        <%- else -%>
	<%= event.full_name %>
        <%- end -%>



	<ul>
	  <% if event.flyer %><li><%= link_to image_tag("icons/pdf-icon.png"), event.flyer %></li><% end %>
	  <li><%= link_to image_tag("icons/registration-icon.png"), :action => "list", :controller => "schedule" %></li>
	  <li><%= link_to image_tag("icons/results-icon.png"), :action => "list", :controller => "schedule" %></li>
	</ul>
      </div>



      <% end %>
      <%- end -%>
      <%- end -%>
    </td>

    <%- end -%>

  </tr>

  <%- end -%>


  <% end -%>
</div>
<% end %>

