<% @page_title = "Admin: Categories" %>

<% #We're small enough we can recompute competitions on demand. alp -%>

<% if RacingAssociation.current.competitions.include?(:mbra_bar) -%>
<div class="content-item">
  <p><%= form_tag "/admin/categories/recompute_bar" do -%>
    <%= submit_tag "Recompute MBRA BAR", :id => "recompute_bar" %>
    <% end -%></p>
  <p><%= form_tag "/admin/categories/recompute_team_bar" do -%>
    <%= submit_tag "Recompute MBRA BAT", :id => "recompute_bar" %>
    <% end -%></p>
</div>
<%- end %>



<div class="content-item">

  <%= RacingAssociation.current.short_name %> Categories</br></br>

  
  <table>
    <tr>
      <th>Name</th>
      <th>Races</th>
    </tr>

    <% @categories.each do |category| %>
    <tr class="<%= cycle("even", "odd")%>">
      <%= render :partial => "category", :locals => {:category => category} %>
      <!-- td><%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td -->
    </tr>
    <% end %>
  </table>
</div>


<div class="content-item">
  Unknown</br></br>

  <table>
    <tr>
      <th>Name</th>
      <th>Races</th>
    </tr>

    <% @unknowns.each do |category| %>
    <tr class="<%= cycle("even", "odd")%>">
      <%= render :partial => "category", :locals => {:category => category} %>
      <!-- td><%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td -->
    </tr>
    <% end %>
  </table>
</div>

