<% @page_title = "Article #{@article.title}" %>
<h3><%= @article.title.html_safe %></h3>
<p><%= @article.body.html_safe %></p>


<h3>Attached Files</h3>
<% @article.assets.each do |asset| %>
<ul data-role="listview">
  <li><%= link_to(asset.asset_file_name, asset.asset.url(:original))%></li></br>
</ul>
<% end %>




  <ul>
    <li>Created:  <%= @article.created_at.to_formatted_s(:short) %></li>
    <li>Modified: <%= @article.updated_at.to_formatted_s(:short) %></li>

