<ul>
  <li><%= link_to("Home", "/")%></li>
  <li><%= link_to "Results", results_path %></li>
  <li><%= link_to "Schedule", :action => "list", :controller => "schedule"  %></li>
  <li><%= link_to "Mailing List", "/mailinglist" %></li>
  <li><%= link_to "Mobile", url_for(:mobile => 1), "data-role" => "button" %></li>

  <% if current_person %>
  <li><%= link_to "Logout", person_session_path, :method => :delete, :id => "account_link"%></li>
  

  <% else %>
  <li><%= link_to "Login", new_person_session_path, { :id => "account_link" } %></li>
  <% end %>


  <% if current_person and current_person.administrator? %>
  <li><%= link_to("Administration", {:controller => "/admin/events"}, {:id => "admin_link"}) %></li>
  <% end %>
  

</ul>
