<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
    <%= csrf_meta_tag %>
    <%= airbrake_javascript_notifier unless Rails.env.acceptance? %>
    <%= render :partial => "layouts/stylesheets" %>
    <%= render :partial => "layouts/javascripts" %>
    <%= yield :head %>
  </head>
  



  <body>

    <div id="header">
      <%= link_to("", "/", :id=>"header") %>
    </div>
    <div id="top-menu">
      <%= render :partial => "layouts/top_menu" %>
    </div>

    <div id="main-wrapper">
      
      <div class="side-info">
	<%= render :partial => "layouts/left_menu" %>
      </div>

      <div class="main-content">
	<div class="content-item">
	  <%= yield %>
	</div>
      </div>

      <div class="side-info">
	<div class="content-item">
	  <%= render :partial => "layouts/recent_results" %>
	</div>
	<div class="content-item">
	  <%= render :partial => "layouts/upcoming_events" %>
	</div>
      </div>
    </div>

    <%= render :partial => "shared/tabs" %>        
    <%= render :partial => "shared/flash_messages", :locals => { :flash => flash } %>
    <% #@upcoming = Event.all(:where =>(sort_by(&:date).last(4))) %>
    <% #@upcoming = Event.all.sort_by(&:date).last(1) %>
  </body>
</html>



