<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= auto_discovery_link_tag(:rss, "http://gbra.obra.org/articles.rss") %>
    <title><%= page_title %></title>
    <%= csrf_meta_tag %>
    <%= airbrake_javascript_notifier unless Rails.env.acceptance? %>
    <%= render  "layouts/stylesheets" %>
    <%= render  "layouts/javascripts" %>
    <%= yield :head %>
  </head>
  


  <div class="page-wrapper">
    <body>

      <div id="header">
	<%= link_to("", "/", :id=>"header") %>
      </div>
      <div id="top-menu">
	<%= render "layouts/top_menu" %>
      </div>

      <div class="main-wrapper">

	

	<div class="side-info">
	  <%= render "layouts/left_menu" %>
	</div>


	<div class="main-content">
	  <%= yield %>
	</div>

	<div class="side-info" >
	  <div class="content-item">
	    <%= render "layouts/recent_results" %>
	  </div>
	  <div class="content-item">
	    <%= render "layouts/upcoming_events" %>
	  </div>
	</div>
      </div>

      <%= render "shared/tabs" %>        
      <%= render "shared/flash_messages", :locals => { :flash => flash } %>
      <% #@upcoming = Event.all(:where =>(sort_by(&:date).last(4))) %>
      <% #@upcoming = Event.all.sort_by(&:date).last(1) %>
    </body>
  </div>
</html>
